@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');



.container {  
  margin: 50px 260px ;
  position: relative;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 150px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(145deg, #e0e0e0, #bcbcbc);
  box-shadow:  22px 22px 25px #a5a5a5,
               -22px -22px 25px #fdfdfd;
}

.brand-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 2.8rem;
  color: #075687;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.logo-image{
  margin: 26px  26px;
  size: 200px;
  height: 100px;
  width:100px;
}

label {
  margin-top: 20px;
  margin-left: 10px;

}

.item {
  color: gray;
}

.item {
  background: #ecf0f3;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  margin: 0;
  margin-bottom: 50px;
}

.item_content{
  padding: 10px;
  font-size: 20px ;
  margin-left: 10;
  margin-top: 10px;
}


a{
  text-decoration: none;
  color: #ecf0f3;
}




h1 {
  position: absolute;
  top: 0;
  left: 0;
}