@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');



.container {  
  margin: 10px 260px ;
  position: relative;
  width: 1000px;
  height: 680px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #95abbf;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 150px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(145deg, #e0e0e0, #bcbcbc);
  box-shadow:  22px 22px 25px #a5a5a5,
               -22px -22px 25px #fdfdfd;
}

.brand-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 2.8rem;
  color: #002943;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.logo-image{
  margin: 31px  29px;
  size: 200px;
  height: 90px;
  width:90px;
}

.label {
  color: #012b45;
  font-weight: bold;
  font-size: 19px;
}



.item_content{
  padding: 10px;
  font-size: 20px ;
  margin-left: 10;
  margin-top: 10px;
  color: #012943; 
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}


a{
  text-decoration: none;
  color: #ecf0f3;
}




h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  margin-top: 30px;
  margin-bottom: 45px;
  align-items: center;
  background: linear-gradient(-45deg, rgba(225,235,246.22), rgba(255,255,255,0.25));
  border-radius: 50px;
  display: flex;
  height: 55px;
  justify-content: center;
  width: 250px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255);
}
.item-4 {
  margin-top: 30px;
  margin-bottom: 40px;
  align-items: center;
  background: linear-gradient(-45deg, rgba(225,235,246.22), rgba(255,255,255,0.25));
  border-radius: 50px;
  display: flex;
  height: 55px;
  justify-content: center;
  width: 200px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255);
}
